@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="input-group">
        <input type="email" class="input-group-text emailToWhere" />
        <button type="button" class="btn btn-primary sendMailBtn">Send email</button>
    </div>
</div>

@**@

<script src="~/js/axios/axios.min.js"></script>
<script src="~/js/sendMail.js" type="module"></script>
